<%- include('partials/header') %>
<title>Dynamic Table</title>
</head>
<body>
    <main class="d-flex flex-column align-items-center">
        <h1>Ganpat Hasmukhbhai Parmar</h1>
        <form  action="/api/searchtable/submit" method="post">
            <div class="form-group">                
                <textarea name="query" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Query here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <% if (locals.results && locals.fields && locals.pid && locals.len) { %>
            <h1>Your Requested Table is here!</h1>
            <table class="table table-striped table-bordered text-center ">
                <thead class="bg-info">
                  <tr>
                    <% fields.forEach(field => { %>
                        <th scope="col"><%= field.name %></th>
                    <% }) %>
                    
                    
                  </tr>
                  
                </thead>
                <tbody>
                  <% results.forEach(result => { %>
                    <tr>
                        <% for( let i = 0; i < fields.length; i++ ) { %>
                            <% var na = fields[i].name %>
                            <td scope = "col"><%= result[na] %></td>
                        <% } %>
                    </tr>
                    
                  <% }) %>
                </tbody>
              </table>
              <nav aria-label="Pagination">
                <ul class="pagination">
                    <% if (pid==1) { %>
                        <li class="page-item disabled">
                            
                            <a class="page-link " href="/api/searchtable/submit" tabindex="-1">Start</a>
                        </li>
                        <li class="page-item disabled"><a class="page-link"
                                href="/api/searchtable/submit?page=<%= parseInt(pid)-1 %>">Previous</a></li>
                        <%} else{ %>
                            <li class="page-item">
                                <a class="page-link" href="/api/searchtable/submit?page=1" tabindex="-1">Start</a>
                            <li class="page-item"><a class="page-link"
                                    href="/api/searchtable/submit?page=<%= parseInt(pid)-1 %>">Previous</a></li>
                            </li>
                            <% }%>
    
    
                                <li class="page-item disabled">
                                    <a class="page-link" href="/api/searchtable/submit?page=<% pid %>">
                                        <%= pid %>
                                    </a>
                                </li>
                                <% if(pid==len){ %>
                                    <li class="page-item disabled"><a class="page-link"
                                            href="/api/searchtable/submit?page=<%= parseInt(pid)+1 %>">Next</a></li>
                                    <li class="page-item disabled">
                                        <a class="page-link" href="/api/searchtable/submit?page=<%=len%>">Last</a>
                                    </li>
                                    <% } else { %>
                                        <li class="page-item"><a class="page-link"
                                                href="/api/searchtable/submit?page=<%= parseInt(pid)+1 %>">Next</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="/api/searchtable/submit?page=<%=len%>">Last</a>
                                        </li>
                                        <% } %>
    
                </ul>
            </nav>
        <% } %>        
    </main>
    <%- include('partials/footer') %>